html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: #f8f8f8; /* Light gray background */
}

header {
    background: url('your-image.jpg') no-repeat center; /* Replace 'your-image.jpg' with your actual image path */
    background-size: cover;
    color: #ffffff; /* White text */
    text-align: center;
    padding: 20px;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleCol {
    max-width: 750px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

footer {
    background-color: #333333;
    color: #ffffff; 
    padding: 10px;
    text-align: center;
}

footer a {
    color: #ffffff; 
    text-decoration: none;
}

footer a:hover {
    color: #bfbfbf; 
}

@media (max-width: 767.90px){
    .color-overlay {
        min-height: 30vh;
    }
}

.btn-outline-dark {
    border: #333333 solid 1px; 
    color: #333333;
    background-color: #ffffff; 
}

.btn-outline-dark:hover {
    background-color: #333333; 
    color: #ffffff; 
}

.card-body {
    color: #0b4d1c; 
}

.btn-outline-dark {
    background-color: #f8f8f8; 
}
